@media only screen and (max-width: 319px) {
    .tab_btn a {
        margin: auto 0.2rem;
    }

    .search__input {
        font-size: 14px;
    }

    .search__icon {
        font-size: 14px;
        top: 40%;
        right: 10%;
    }

    
    .message {
        
        padding: 10px;
        
        img {
            height: 44px;
            width: 44px;
        }
        h4{
            font-size: 12px;
            margin-bottom: 0;
        }
        p{
            font-size: 10px;
            width:40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            margin-left: 2px;

        }
        .activebtn{
            right: 3px;
            top:2px;
        }
    }

}

@media only screen and (min-width: 320px) {
    .tab_btn a {
        margin: auto 0.8rem;
    }

    .search__icon {
        top: 30%;
        right: 20px;
    }

    
    .message {
        
        padding: 10px;
        
        img {
            height: 55px;
            width: 55px;
        }
        h4{
            font-size: 18px;
            margin-bottom: 0;
        }
        p{
            font-size: 12px;
            width: 90px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            margin-left: 2px;

        }
        
        .activebtn{
            right: 10%;
            top:8%;
        }
    }

}


@media only screen and (min-width: 450px) {
  
    
    .message {
                
        img {
            height: 88px;
            width: 88px;
        }
        h4{
            font-size: 18px;
        }
        p{
            font-size: 15px;
            width: 142px;

        }
    }

}

@media only screen and (min-width: 767px) {
  
    
    .message {
                
        
        p{
            width: 220px;

        }
    }

}